<section class="contact">
  <img class="contact-logo" src="/public/images/logo.svg" alt="" />
  <p class="contact-text">
    All rights reserved © Equalizer 2021
    <br />
    Have any problems? Contact us via social
    <br />
    media or email us at <strong>equalizer@example.com</strong>
  </p>
</section>
