<footer class="social-footer">
  <div class="contact">
    <img class="contact-logo" src="/public/images/logo.svg" alt="" />
    <p class="contact-text">
      All rights reserved © Equalizer 2021
      <br />
      Have any problems? Contact us via social
      <br />
      media or email us at <strong>equalizer@example.com</strong>
    </p>
  </div>
  <div class="social-icons">
    <img class="fb-icon" src="/public/images/icon-facebook.svg" alt="" />
    <img class="instagram-icon" src="/public/images/icon-instagram.svg" alt="" />
    <img src="/public/images/icon-twitter.svg" alt="" class="twitter-icon" />
  </div >
</footer>
