<div class="hero-text-container">
  <h1 class="hero-title">We make your music sound extraordinary.</h1>
  <p class="hero-para">
    A system audio equalizer specifically designed for Android and iOS. Freely
    tune the way your music sounds with a professional grade parametric EQ &
    volume mixer. Control bass, mids, treble, gain control, reverb, and more!
  </p>
</div>
